<h3>Tweet</h3>
<div>
  <form [formGroup]="tweetForm" (ngSubmit)="newTweet()">
    <textarea type="text" class="input" placeholder="Comment here" id="tweet" formControlName="tweet"></textarea>
    <button  class='primaryContained float-right' type="submit">New tweet</button>
  </form>
</div>
<div *ngIf="!!!tweets">
  <h4>No tweets to show</h4>
</div>
<div *ngIf="!!tweets">

<section id="app"  *ngFor="let tweet of tweets">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="comment">
      <p >{{tweet.content}}</p>
      <div  *ngFor="let reply of tweet.replies">
        <div class="row">
          <div class="col-6">
            <div class="comment">
              {{reply.content}}
            </div>
        </div>
      </div>
      </div>
        </div><!--End Comment-->
        </div><!--End col -->
        </div><!-- End row -->
        <form [formGroup]="replyInput" (ngSubmit)="replyData(tweet.id)">
          <textarea type="text" class="input" placeholder="Reply here" id="reply" formControlName="reply"></textarea>
          <button  class='primaryContained float-right' type="submit">Tweet</button>
        </form>
  </div><!--End Container -->
</section><!-- end App -->
</div>
